<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522777359209-nuir9kc36hb1f3era2l8cd35tkqmo9t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522777359209-nuir9kc36hb1f3era2l8cd35tkqmo9t1</string>
	<key>API_KEY</key>
	<string>AIzaSyAm8vgCZWfY_3gd19_GdNkgDHplzx_HTCU</string>
	<key>GCM_SENDER_ID</key>
	<string>522777359209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ionic.app.lectury</string>
	<key>PROJECT_ID</key>
	<string>lectury-e7f12</string>
	<key>STORAGE_BUCKET</key>
	<string>lectury-e7f12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522777359209:ios:76b29e08b6a4489d0c03f8</string>
</dict>
</plist>